/* globaldefine */
:root > * {
  --md-primary-fg-color: #333333 !important;
  --md-typeset-a-color: #009CDE !important;/* Default link color */
  --md-accent-fg-color: #365ABD !important; /* Accent color */
}

[data-md-color-scheme="default"] {
  --md-typeset-mark-color: #eeeeee !important; /* Highlighted text color */
}
/* Dark mode styles */
[data-md-color-scheme="slate"] {
  --md-typeset-mark-color: #15171c !important; /* Highlighted text color */
}
mark {
  border-radius: 6px;
  padding: 3px;
}
.md-header,
.md-tabs {
  background: linear-gradient(90deg, var(--md-typeset-a-color) 0%, var(--md-accent-fg-color) 100%);
}
img[alt="logo"] {
  filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.3));
}
.md-header__topic {
  font-size: 1.5em;
}
.md-typeset .admonition.no-icon .admonition-title::before { display: none; }
/* Hide the icon and remove left spacing for custom admonition */
.md-typeset .admonition.no-icon .admonition-title {
  padding-left: 12.8px !important;
}
.md-typeset .admonition.no-icon .admonition-title::before {
  display: none !important;
}

/* Custom colors for no-icon admonition using note variables */
.md-typeset .admonition.no-icon,
.md-typeset details.no-icon {
  border-color: #365ABD;
}
.md-typeset .no-icon > .admonition-title,
.md-typeset .no-icon > summary {
  background-color: rgba(54, 90, 189, 0.1);
}
/* Hide the icon for no-icon admonition */
.md-typeset .no-icon > .admonition-title::before,
.md-typeset .no-icon > summary::before {
  display: none !important;
}